


<div ng-include="'partials/header.html'"></div>
<div ng-include="'partials/fotter.html'"></div>
<fieldset class="well .scheduler-border" 
style="width:370px;height:auto;margin:0px auto;border:1px solid #ccc; 
    -webkit-box-shadow:  0px 0px 0px 0px #000;
            box-shadow:  0px 0px 0px 0px #000;">
<legend  style=" width:auto; padding:0 5px;border-bottom:none;font-family: Gotham, 'Helvetica Neue', Helvetica, Arial, 'sans-serif';font-size: 18px;color:blueviolet" align="left">
CostType
</legend>

<form class="form-horizontal" name="c">
<div class="form-group">
<label class="control-label col-sm-3">CostType:</label>
<div class="col-sm-3 col-lg-6">
<input type="text"  name="type" ng-model="costtype" ng-minlength="2" ng-maxlength="45" ng-pattern="/^([a-zA-Z]+\s)*[a-zA-Z]+$/" required>
<span style="color:red;" ng-show="c.type.$dirty && c.type.$error.required">Please enter cost type</span>
					       		<span style="color:red;" ng-show="c.type.$error.pattern">Invalid cost type</span>
					       		<span style="color:red;" ng-show="c.type.$error.maxlength" >Cost type is too long.</span></input>
	</div>
</div>
<div style="margin:10px;">

<center>
 <a href="#!Listcosttype"  type="button"  class="text-warning"  ><span class="glyphicon glyphicon-hand-left"></span>Back</a>
<button class="btn btn-info" ng-click="costTypeSave()" ng-disabled="c.$invalid">Save</button>
 
  
  </center>
</div>


</form>

</fieldset>
			
			
			





<!-- <div ng-include=" 'header&footer.html' "></div>

<fieldset class="well .scheduler-border" 
style="width:370px;height:auto;margin:0px auto;border:1px solid #ccc; 
    -webkit-box-shadow:  0px 0px 0px 0px #000;
            box-shadow:  0px 0px 0px 0px #000;">
<legend  style=" width:auto; padding:0 5px;border-bottom:none;font-family: Gotham, 'Helvetica Neue', Helvetica, Arial, 'sans-serif';font-size: 18px;color:blueviolet" align="left">
Add cost type
</legend>

<form class="form-horizontal" name="c">
<div class="form-group">
<label class="control-label col-sm-2">CostType:</label>
<div class="col-sm-3 col-lg-6">
<input type="text" class="form-control" name="type" ng-model="costtype" ng-minlength="2" ng-maxlength="45" ng-pattern="/^([a-zA-Z]+\s)*[a-zA-Z]+$/" required>
<span style="color:red;" ng-show="c.type.$dirty && c.type.$error.required">Please enter cost type</span>
					       		<span style="color:red;" ng-show="c.type.$error.pattern">Invalid cost type</span>
					       		<span style="color:red;" ng-show="c.type.$error.maxlength" >Cost type is too long.</span>
	</div>
</div>
<div style="margin:10px;">
<center><button class="btn btn-info" ng-click="costTypeSave()" ng-disabled="c.$invalid">Save</button>
  <button type="reset"  class="btn btn-default">Reset</button>
  
  </center>
</div>


</form>

</fieldset> -->