<div ng-show="isLoading" class="Applicationloader">
	<img src="images/rpoloader.gif">
</div>

<div ng-include="'partials/header.html'"></div>
<div ng-include="'partials/fotter.html'"></div>

<div class="content-wrapper">
	<div class="container-fluid" style="margin-top: 60px;">


		<ol class="breadcrumb">
			<div class="col-md-8">
				<h3>Requirement Tracker</h3>
			</div>
		</ol>

		<div class="col-md-12">
			<div class="row">
				<div class="col-md-3 mb-4">
					<div class="row">
						<div class="col-sm-6">
							Search By Category <select class="form-control"
								ng-model="searchcategory" style="border-radius: 0">
								<option value="" selected>--Select --</option>
								<option value="nameOfRequirement">Name Of Requirement</option>
								<option value="clientName">Client Name</option>
								<!--  <option value="locationName">location Name</option> -->
								<option value="contact_Name">Contact Name</option>
								<option value="mobile">Mobile</option>
								<option value="status">Status</option>
							</select>
						</div>
						<div class="col-sm-6">
							<input class="form-control" type="search" ng-model="searchtext"
								placeholder="Search Here.."
								style="margin-top: 21px; border-radius: 0">
							<!--  <span class="glyphicon glyphicon-search"  style="
			position: absolute;font-size: 17px; color: #337ab7;right: 22px;top: 31px;z-index: 10;cursor: pointer;"></span> -->
						</div>
					</div>
				</div>
				<div class="col-md-3 mb-4">
					<div class="row">
						<div class="col-sm-6">
							Sort By <select class="form-control" ng-model="order"
								style="border-radius: 0">
								<option value="" selected>--Select --</option>
								<option value="nameOfRequirement">Name Of Requirement</option>
								<option value="clientName">Client Name</option>
								<!-- <option value="locationName">location Name</option> -->
								<option value="contact_Name">Contact Name</option>
								<option value="mobile">Mobile</option>
								<option value="status">Status</option>
							</select>
						</div>
						<div class="col-sm-6">
							Order By <select class="form-control" ng-model="by"
								style="border-radius: 0">
								<option value="" selected>--Select --</option>
								<option value="asc">Ascending</option>
								<option value="desc">Descending</option>
							</select>
						</div>
					</div>
				</div>
				<div class="col-md-2 mb-4">
					<div class="row">
						<div class="col-sm-6 mt-4 pt-2">
							<button class="btn btn-primary btn-sm" ng-click="searchText()">Search</button>
						</div>
						<div class="col-sm-6  mt-4 pt-2">
							<button class="btn btn-danger btn-sm" ng-click="clearText()">Reset</button>
						</div>
					</div>
				</div>
				<div class="col-md-4 mb-4">
					<div class="row">
						<div class="col-md-8 mt-4 pt-2">
							<select class="form-control pull-right" ng-model="pageSize"
								style="width: 65px; margin-bottom: 6px;">
								<option>10</option>
								<option>15</option>
								<option>20</option>
								<option>25</option>
							</select> <span style="margin-right: 8px; margin-top: 6px;"
								class="pull-right text text-info">Items per page</span>
						</div>
						<div class="col-md-4   mt-4 pt-2">
							<a href="#!/bdmreqdtls" class="btn btn-success btn-sm right">Add
								Requirement</a> {{totalCount}}
						</div>

					</div>
				</div>

				<!-- <div class="col-md-2 mt-4 pt-2">
	    	<a href="#!/bdmreqdtls" class="btn btn-success btn-md right" style="margin-left: 70px;">Add Requirement</a> 	
	   	 </div> -->
			</div>
		</div>

		<table st-table="ListReqData1" st-safe-src="rowCollection"
			class="table">
			<thead>
				<tr>
					<th class="text-left" ng-click="sortData('id')">Req.Id
						<div ng-class="getSortClass('id')"></div>
					</th>
					<th class="text-left" ng-click="sortData('nameOfRequirement')">Req.
						Name
						<div ng-class="getSortClass('nameOfRequirement')"></div>
					</th>
					<th class="text-left" ng-click="sortData('clientName')">Tracker
						Details
						<div ng-class="getSortClass('clientName')"></div>
					</th>
					<th class="text-left" ng-click="sortData('clientName')">Client
						<div ng-class="getSortClass('clientName')"></div>
					</th>
					<th class="text-left" style="width: 9%;"
						ng-click="sortData('startDate')">Open Date
						<div ng-class="getSortClass('startDate')"></div>
					</th>
					<th class="text-left" style="width: 9%;"
						ng-click="sortData('endDate')">Valid up to
						<div ng-class="getSortClass('endDate')"></div>
					</th>
					<th class="text-left" ng-click="sortData('contact_Name')">SPOC
						<div ng-class="getSortClass('contact_Name')"></div>
					</th>
					<th class="text-left" ng-click="sortData('mobile')">SPOC
						Mobile
						<div ng-class="getSortClass('mobile')"></div>
					</th>
					<!--  <th class="text-left">Email</th> -->
					<!--   <th>Skills</th> -->
					<th class="text-left">Status</th>
					<!-- <th class="text-left">Location</th>     -->
					<th class="text-left" ng-click="sortData('lastUpdatedDate')">Last
						Updated On
						<div ng-class="getSortClass('lastUpdatedDate')"></div>
					</th>
					<th class="text-left">Edit</th>
					<!-- <th >Recruiter Name</th> -->
					<th class="text-left">Recruiter</th>


				</tr>

			</thead>
			<tbody>
				<tr
					dir-paginate="list in ListReqData |filter:test| itemsPerPage:pageSize |orderBy:sortColumn:reverseSort">
					<td class="text-left"><a data-toggle="modal"
						data-target="#viewRequriement" title="View Requirement"
						ng-click="viewReqInfo(list)" style="color: blue; cursor: pointer;">{{list.id}}</a></td>
					<td class="text-left"><span>{{list.nameOfRequirement}}</span></td>
					<!--  	<a  href="#!/Assignlistwork" class="btn btn-primary btn-xs pull-center" ng-click="assignFun(list)" >Tracker</a></span></td> -->
					<!-- 	<td >
						<button class='btn btn-danger' ng-if="list.expanded" ng-click="list.expanded = false">-Tracker</button>
							<button class='btn btn-success' ng-if="!list.expanded"
								ng-click="expandSelected(list)">+Tracker</button>
								<span> </span>
					</td> -->
					<td class="text-left">
						<button class='btn btn-success'>
							<a data-toggle="modal" data-target="#myModal1"
								ng-click="expandSelected(list)">Tracker</a>
						</button>
					</td>
					<td class="text-left">{{list.clientName}}</td>
					<td class="text-left">{{list.startDate| date:"dd-MM-yyyy"}}</td>
					<td class="text-left">{{list.endDate| date:"dd-MM-yyyy"}}</td>
					<td class="text-left">{{list.contact_Name}}</td>
					<td class="text-left">{{list.mobile}}</td>
					<!--  <td class="text-left">{{list.addContact.email}}</td> -->
					<!-- 
			       <td>
            
              
              <span ng-repeat="x in list.skills">         
              {{x.skillName}},
              </span>
              
               
              </td>
               -->
					<td class="text-left"><span ng-if="list.status=='Open'"
						style="color: green;">{{list.status}}</span> <span
						ng-if="list.status=='Closed'" style="color: red;">{{list.status}}</span>
						<span ng-if="list.status=='Hold'" style="color: orange;">{{list.status}}</span>
					</td>
					<td class="text-left">{{list.lastUpdatedDate|
						date:"dd-MM-yyyy"}}</td>
					<td><span> <a href={{urlForEdit}}
							ng-click="editFun(list)"> <span
								class="glyphicon glyphicon-pencil" style="color: green"
								title="Click here to edit"></span></a>
					</span></td>
					<td class="text-left"><a href="#!/Assignlistwork"
						class="btn btn-primary btn-xs pull-center"
						ng-click="assignFun(list)">Assign</a></td>
				</tr>









				<!-- 	<tr ng-if="!list.expanded" ng-repeat-end="" ng-show="flag">
					<td colspan="10">
						<div class="col-md-offset-3 col-md-5">
							<h4 style="color: red" ng-show="!flag">No Requirement Found</h4>
						</div>   <input class="form-control input-sm" type="search" ng-model="searchReq" placeholder="Search"  ng-show="flag">
						</div>
						<div class="col-md-4">
							<h4 style="color: green;" ng-show="flag">Tracker
								Requirements Details</h4>
						</div>
						<div class="col-md-4" ng-hide="!flag">
							       <ul uib-pagination total-items="totalCount" max-size="maxSize" items-per-page="pageSizeSelected" boundary-links="true" rotate="false" 
		num-pages="numPages" direction-links="true" ng-model="pageIndex" ng-change="pageChanged()"></ul>
						</div>
						<div class="clearfix"></div>

						<table st-table="ListReqData2" class="table table-hover bord" ng-show="flag">
							<thead style="font-size: 12px;">
								<tr>
									<th class="text-left">Requirement Name</th>
									<th class="text-left">Name Of The Requirement</th>
									<th class="text-left">Candidate Status</th>
								</tr>
							</thead>
							<tbody>
								<tr
									dir-paginate="list1 in ListReqData|filter:test| itemsPerPage:pageSize |orderBy:sortColumn:reverseSort"">
									<td>{{list1.requirementId}}</td>
									<td class="text-left">{{list1.nameOfTheReq}}</td>
									<td class="text-left">{{list1.candidateStatus}}</td>
								</tr>
							</tbody>
						</table>
					</td>
				</tr> -->
			</tbody>
		</table>
		<div class="col-md-12 text-center">
			<b>{{nodata}}</b>
		</div>

		<div class="col-md-12 " ng-show="ListReqData1.length>0">
			<div class="float-right">
				<ul uib-pagination total-items="totalCount" max-size="maxSize"
					items-per-page="pageSizeSelected" boundary-links="true"
					rotate="false" num-pages="numPages" direction-links="true"
					ng-model="pageIndex" ng-change="pageChanged()"></ul>
			</div>
		</div>
	</div>
</div>


<div class="modal fade" id="myModal1" role="dialog">
	<div class="modal-dialog" style="width: 50%; height: auto;">
		<div class="modal-content">

			<div class="modal-header">
				<h4>Tracker Requirements Details</h4>
				<button type="button" data-dismiss="modal" class="close">&times;</button>
			</div>

			<div class="modal-body">
				<form class="form-horizontal">
					<div class="form-group">

						<div
							style="width: 95%; height: auto; line-height: 3em; overflow: auto; margin: 10px; padding: 5px;">
							<div class="table-responsive" ng-if="!list.expanded"
								ng-repeat-end="" ng-show="flag">
								<div class="col-md-offset-3 col-md-5">
									<h4 style="color: red" ng-show="!flag">No Requirement
										Found</h4>
								</div>
								<!--   <input class="form-control input-sm" type="search" ng-model="searchReq" placeholder="Search"  ng-show="flag"> -->

								<div class="clearfix"></div>

								<table st-table="ListReqData2" class="table table-hover bord"
									ng-show="flag">
									<thead style="font-size: 12px;">
										<tr>
											<th class="text-left">Status Count</th>
											<th class="text-left">Req.Id</th>
											<th class="text-left">Name Of The Requirement</th>
											<th class="text-left">Candidate Status</th>
										</tr>
									</thead>
									<tbody>
										<tr
											dir-paginate="list1 in ListReqDataResult |filter:test| itemsPerPage:pageSize">
											<td>{{list1.statusCount}}</td>
											<td>{{list1.requirementId}}</td>
											<td class="text-left">{{list1.nameOfTheReq}}</td>
											<td class="text-left">{{list1.candidateStatus}}</td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
					</div>
				</form>
			</div>
			<div class="modal-footer">
				<button class="btn btn-info pull-right" data-dismiss="modal">OK</button>
			</div>

		</div>
	</div>
</div>



<div class="modal fade" id="myModal2" role="dialog">
	<div class="modal-dialog">
		<div class="modal-content">

			<div class="modal-header">
				<button type="button" data-dismiss="modal" class="close">&times;</button>
				<h4>Designation:</h4>
			</div>

			<div class="modal-body">
				<form class="form-horizontal">
					<div class="form-group">

						<ul ng-repeat="designation in designationsData">
							<li>{{designation.designation}}</li>
						</ul>

					</div>
				</form>
			</div>

			<div class="modal-footer">
				<button class="btn btn-info pull-right" data-dismiss="modal">OK</button>
			</div>

		</div>
	</div>
</div>



<div class="modal fade" id="myModal3" role="dialog">
	<div class="modal-dialog">
		<div class="modal-content">

			<div class="modal-header">
				<button type="button" data-dismiss="modal" class="close">&times;</button>
				<h4>Qualifications:</h4>
			</div>

			<div class="modal-body">
				<form class="form-horizontal">
					<div class="form-group">

						<ul ng-repeat="qualifications in qualificationsData">
							<li>{{qualifications.qualificationName}}</li>
						</ul>

					</div>
				</form>
			</div>

			<div class="modal-footer">
				<button class="btn btn-info pull-right" data-dismiss="modal">OK</button>
			</div>

		</div>
	</div>
</div>

<!-- View  Requirement  start -->
<div class="modal fade" id="viewRequriement" role="dialog">
	<div class="modal-dialog" ng-init="getReqByReqId();">
		<div class="modal-content">
			<div class="modal-header">
				<h4 class="modal-title">View Requirement Details:</h4>
				<button type="button" class="close" data-dismiss="modal">&times;</button>
			</div>
			<div class="modal-body">
				<div class="col-md-12">
					<div class="row">

						<div class="col-sm-6">
							<label>Customer Name:</label>
						</div>
						<div class="col-lg-6">{{reqDetails.client.clientName}}</div>
					</div>
					<div class="row">
						<div class="col-sm-6">
							<label>Name Of Requirement:</label>
						</div>
						<div class="col-lg-6">{{reqDetails.nameOfRequirement}}</div>
					</div>
					<div class="row">
						<div class="col-sm-6">
							<label>Skills:</label>
						</div>
						<div class="col-lg-6">
							<span ng-repeat="y in skills">{{y.skillName}}</span>
						</div>
					</div>
					<div class="row">
						<div class="col-sm-6">
							<label>Relevant Experience:</label>
						</div>
						<div class="col-lg-6">{{reqDetails.relavantExperience}}
							years</div>
					</div>
					<div class="row">
						<div class="col-sm-6">
							<label>Min Budget:</label>
						</div>
						<div class="col-lg-6">{{reqDetails.minBudgetRate |
							currency:"₹ "}}</div>
					</div>
					<div class="row">
						<div class="col-sm-6">
							<label>Max Budget:</label>
						</div>
						<div class="col-lg-6">{{reqDetails.maxBudgetRate |
							currency:"₹ "}}</div>
					</div>
					<div class="row">
						<div class="col-md-6">
							<label>Type Of Hiring:</label>
						</div>
						<div class="col-md-6">{{reqDetails.typeOfHiring}}</div>
					</div>
					<div class="row">
						<div class="col-md-6">
							<label>Job Location:</label>
						</div>
						<div class="col-md-6">
							<span ng-repeat="location in locations">{{location.locationName}},</span>
						</div>
					</div>
					<div class="row">
						<div class="col-md-6">
							<label>Qualification:</label>
						</div>
						<div class="col-md-6">
							<span ng-repeat="e in qualifications">{{e.qualificationName}},
							</span>
						</div>
					</div>
					<div class="row">
						<div class="col-md-6">
							<label>Roles:</label>
						</div>
						<div class="col-md-6">
							<span ng-repeat="o in designations">{{o.designation}}, </span>
						</div>
					</div>
					<div class="row">
						<div class="col-md-6">
							<label>Number Of Positions:</label>
						</div>
						<div class="col-md-6">{{reqDetails.numberOfPositions}}</div>
					</div>
					<div class="row">
						<div class="col-md-6">
							<label>Requirement Description:</label>
						</div>
						<div class="col-md-6">{{reqDetails.requirementDescription}}</div>
					</div>
					<div class="row">
						<div class="col-md-6">
							<label>Job Description:</label>
						</div>
						<div class="col-md-6">{{reqDetails.jobDes}}</div>
					</div>
					<div class="form-group">
						<div class="modal-footer">
							<button class="btn btn-info pull-right" data-dismiss="modal">OK</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>


<!-- View  Requirement  end -->


<!-- <div ng-include="'partials/fotter.html'"></div> -->



