<div ng-include="'partials/header.html'"></div>
<div ng-include="'partials/fotter.html'"></div>

<div class="content-wrapper">
    <div class="container-fluid" style="margin-top: 60px;">
    <ol class="breadcrumb">
    <div class="col-md-8">
    <h3>Client </h3>
    </div>
    <!-- <div class="col-md-4">
    	<ol class="breadcrumb">
 				<li><a href="#">Dashboard</a></li>
  				<li><a href="#" class="active">Add Requirement</a></li>
		</ol>
    </div> -->
    </ol>
 <fieldset class="well .scheduler-border"
			style="width: 790px; height: auto; margin: 0px auto; border: 1px solid #ccc; -webkit-box-shadow: 0px 0px 0px 0px #000; box-shadow: 0px 0px 0px 0px #000;">
			<legend
				style="width: auto; padding: 0 7px; border-bottom: none; font-family: Gotham, 'Helvetica Neue', Helvetica, Arial, 'sans-serif'; font-size: 18px; color: blueviolet"
				align="left"> Edit Client </legend>
				<div class="row">
		<div class="form-group col-lg-4">			
		<label for="contact_id">Client Name*</label>
		<input type="text" name="clientName" ng-model="client1.clientName" class="form-control" placeholder="Enter Client Name" required>
						<span style = "color:red" ng-show = "clientForm.clientName.$touched && clientForm.clientName.$invalid">  
							<span ng-show = "clientForm.clientName.$error.required"> Name is required</span>  
						</span>  					
		</div>
		
		<div class="form-group col-lg-4" ng-show="clienttype">
			<label for="contact_name">Client Type*</label>
			<select id="clienttype" name="clientType" class="form-control" ng-model="clientType1" ng-click="getClientType()">
			<option value={{clientType1}} selected>{{clientType1}}</option>
			</select>

			<input type="text" name="clientTypeid" class="form-control" ng-model="clientType" ng-hide=true>
		</div>
		
		<div class="form-group col-lg-4" ng-show="clienttype1">
			<label for="contact_name">Client Type*</label>
			<select id="clienttype" name="clientType" class="form-control" ng-model="clientType" required>
						<option ng-repeat="customer in customerTypeData" value={{customer.id}} >{{customer.customerType}}</option>
					</select>
					<span style = "color:red" ng-show = "clientForm.clientType.$touched && clientForm.clientType.$invalid">  
                        <span ng-show = "clientForm.clientType.$error.required"> Client Type is required</span>  
                    </span>	
		</div>
	
	</div>


		
	<div class="row">
		<div class="form-group col-lg-4">		
		<label for="contact_name">Email*</label>		
		<input type="email" name="email1" ng-model="client1.email" class="form-control" placeholder="Enter Email" required>
						<span style="color:red" ng-show="clientForm.email1.$touched && clientForm.email1.$invalid && clientForm.email1.$error">
						<span ng-show="clientForm.email1.$error.required">Email is required.</span>
						<span ng-show="clientForm.email1.$error.email">Invalid email address.</span>
						</span>					
		</div>
		
		<div class="form-group col-lg-4">
			<label for="contact_name">Phone*</label>
				<input type="text"  class="form-control" name="phone" ng-model="client1.phone" numbers-only
						ng-pattern="/^[0-9]{10,10}$/" required maxlength="10">
						
                   <span style = "color:red" ng-show = "clientForm.phone.$dirty && clientForm.phone.$error.required">not a valid number</span>
                    <span style = "color:red" ng-show="clientForm.phone.$error.pattern"> number should be 10 digits</span>                      
            	
		</div>
	
	</div></br>
		
		
		
		


				
	<div class="form-group" >
			<h3><label>Billing Address</label></h3>
	<form name="myForm" novalidate>			
		<div class="row"> 
				<div class="form-group col-lg-3">
					Pincode:
					<input type="text" ng-model="pincode" name="pincode" class="form-control" placeholder="ENTER PINCODE & SEARCH" ng-change="showfun1()" ng-minlength="6" maxlength="6" numbers-only required/>	
					<span style="color:red;" ng-show="myForm.pincode.$touched && myForm.pincode.$error.required">*The field is required.</span>
					<span style="color:red;" ng-show="myForm.pincode.$error.maxlength">*Pincode too long</span>					
				</div>
				
				<div class="form-group col-lg-1"><br/>					
					<button type="button" class="btn btn-default" style="color:	#1e90ff;" ng-disabled="myForm.$invalid" ng-click="getDetails()">Search </button>		
				</div>
			<div class="form-group col-lg-4">
				Country:
				<input type="text"  class="form-control" ng-model="Country" placeholder="Enter Country Name" ng-disabled="true" />
				</div>
				
				<div class="form-group col-lg-4">
				State:
				<input type="text"  class="form-control" ng-model="state"	placeholder="Enter State Name" ng-disabled="true"/>
				</div>				
		</div>
			
			<div class="row">			
				<div class="form-group col-lg-4" >
				District:
				<input type="text" ng-model="city" class="form-control" placeholder="Enter City Name" ng-disabled="true"/>
				</div>
			 <div class="form-group col-lg-4" ng-show="showcity" >
				City:<select  class="form-control" ng-model="Address" ng-disabled=false>
				<option value={{addressLane1}} selected>{{addressLane1}}</option>
				</select>
				</div> 
				
				 <div class="form-group col-lg-4" ng-show="showcity1">
				City:<select  class="form-control" ng-model="Address">
				<option ng-repeat="value in client" value={{value.Address}}>{{value.Address}}</option>
				</select>
				</div>
				<div class="form-group col-lg-4" >
					Address:<textarea rows="3" cols="50" class="form-control"  placeholder="Enter Address" ng-model="addressLane2" ng-disabled="hide1"/>
				</div>
				</div>			
	

		</form>
		</div>	
		
		<label>Shipping Address:</label>
	
				<div class="form-group" id="displayblock">
		<form name="myForm1" novalidate>

		<div class="row">
				<div class="form-group col-lg-3">      
					Pincode:
					<input type="text" ng-model="pincode1" name="pincode1" class="form-control" placeholder="ENTER PINCODE & SEARCH" ng-change="showfun2()" ng-minlength="6" ng-maxlength="6" numbers-only required maxlength="6"/>	
					<span style="color:red;" ng-show="myForm1.pincode1.$touched && myForm1.pincode1.$error.required">*The field is required.</span>
					<span style="color:red;" ng-show="myForm1.pincode1.$error.maxlength">*Pincode too long</span>					
				</div>
				<div class="form-group col-lg-1"><br/>
					<button type="button" class="btn btn-default" style="color:	#1e90ff;" ng-disabled="myForm1.$invalid" ng-click="getDetails1()">Search </button>								
				</div>	
				<div class="form-group col-lg-4">
				Country:
				<input type="text"  class="form-control" ng-model="Country1" placeholder="Enter Country Name" ng-disabled="true" />
				</div>
				
				<div class="form-group col-lg-4">
				State:
				<input type="text"  class="form-control" ng-model="state1"	placeholder="Enter State Name" ng-disabled="true"/>
				</div>
				</div>		
			<div class="row">

				
				<div class="form-group col-lg-4">
				District:
				<input type="text" ng-model="city1" class="form-control" placeholder="Enter City Name" ng-disabled="true"/>
				</div>
				<div class="form-group col-lg-4" ng-show="showcity11" >
				City:<select  class="form-control" ng-model="Address" ng-disabled=false>
				<option value={{addressLane11}} selected>{{addressLane11}}</option>
				</select>
				</div>

			<div class="form-group col-lg-4" ng-show="showcity12">
			City:<select  class="form-control" ng-model="Address1">
			<option ng-repeat="values in client11" value={{values.Address}}>{{values.Address}}</option>
			</select>
			</div> 
			<div class="form-group col-lg-4" >
			Address:<textarea rows="3" cols="50" class="form-control"  placeholder="Enter Address" ng-model="addressLane21" />
			</div>
			</div>						
		</form>
		</div>					
			 <div class="row">	
			 <div class="col-md-8">
			 <a href="#!/getclient" type="button" class="btn btn-info pull-left">Cancel</a>
			 </div>		
			  <div class="col-md-4">
			  <button type="submit" ng-click="updateclientdata()" data-toggle="modal" data-target="#response"
						class="btn btn-info  pull-right" ng-disabled="myform.$invalid">Save</button>
			  </div>
								
					
			</div>		
		</form>
</div>
				
				

</fieldset>
</div>
</div>


<!-- <div class="content-wrapper">
<div class="container" style="margin-top:90px;">

<div class="container">
	<form name="clientForm"  novalidate>
	<div class="panel panel-success">
	<div class="panel-heading">Edit Client</div>
	</div>

	<div class="row">
		<div class="form-group col-lg-4">			
		<label for="contact_id">Client Name*</label>
		<input type="text" name="clientName" ng-model="client1.clientName" class="form-control" placeholder="Enter Client Name" required>
						<span style = "color:red" ng-show = "clientForm.clientName.$touched && clientForm.clientName.$invalid">  
							<span ng-show = "clientForm.clientName.$error.required"> Name is required</span>  
						</span>  					
		</div>
		
		<div class="form-group col-lg-4" ng-show="clienttype">
			<label for="contact_name">Client Type*</label>
			<select id="clienttype" name="clientType" class="form-control" ng-model="clientType1" ng-click="getClientType()">
			<option value={{clientType1}} selected>{{clientType1}}</option>
			</select>

			<input type="text" name="clientTypeid" class="form-control" ng-model="clientType" ng-hide=true>
		</div>
		
		<div class="form-group col-lg-4" ng-show="clienttype1">
			<label for="contact_name">Client Type*</label>
			<select id="clienttype" name="clientType" class="form-control" ng-model="clientType" required>
						<option ng-repeat="customer in customerTypeData" value={{customer.id}} >{{customer.customerType}}</option>
					</select>
					<span style = "color:red" ng-show = "clientForm.clientType.$touched && clientForm.clientType.$invalid">  
                        <span ng-show = "clientForm.clientType.$error.required"> Client Type is required</span>  
                    </span>	
		</div>
	
	</div>


		
	<div class="row">
		<div class="form-group col-lg-4">		
		<label for="contact_name">Email*</label>		
		<input type="email" name="email1" ng-model="client1.email" class="form-control" placeholder="Enter Email" required>
						<span style="color:red" ng-show="clientForm.email1.$touched && clientForm.email1.$invalid && clientForm.email1.$error">
						<span ng-show="clientForm.email1.$error.required">Email is required.</span>
						<span ng-show="clientForm.email1.$error.email">Invalid email address.</span>
						</span>					
		</div>
		
		<div class="form-group col-lg-4">
			<label for="contact_name">Phone*</label>
				<input type="text"  class="form-control" name="phone" ng-model="client1.phone" numbers-only
						ng-pattern="/^[0-9]{10,10}$/" required maxlength="10">
						
                   <span style = "color:red" ng-show = "clientForm.phone.$dirty && clientForm.phone.$error.required">not a valid number</span>
                    <span style = "color:red" ng-show="clientForm.phone.$error.pattern"> number should be 10 digits</span>                      
            	
		</div>
	
	</div></br>
		
		
		
		


				
	<div class="form-group" >
			<h3><label>Billing Address</label></h3>
	<form name="myForm" novalidate>			
		<div class="row"> 
				<div class="form-group col-lg-3">
					Pincode:
					<input type="text" ng-model="pincode" name="pincode" class="form-control" placeholder="ENTER PINCODE & SEARCH" ng-change="showfun1()" ng-minlength="6" maxlength="6" numbers-only required/>	
					<span style="color:red;" ng-show="myForm.pincode.$touched && myForm.pincode.$error.required">*The field is required.</span>
					<span style="color:red;" ng-show="myForm.pincode.$error.maxlength">*Pincode too long</span>					
				</div>
				
				<div class="form-group col-lg-1"><br/>					
					<button type="button" class="btn btn-default" style="color:	#1e90ff;" ng-disabled="myForm.$invalid" ng-click="getDetails()">Search </button>		
				</div>
			<div class="form-group col-lg-4">
				Country:
				<input type="text"  class="form-control" ng-model="Country" placeholder="Enter Country Name" ng-disabled="true" />
				</div>
				
				<div class="form-group col-lg-4">
				State:
				<input type="text"  class="form-control" ng-model="state"	placeholder="Enter State Name" ng-disabled="true"/>
				</div>				
		</div>
			
			<div class="row">			
				<div class="form-group col-lg-4" >
				District:
				<input type="text" ng-model="city" class="form-control" placeholder="Enter City Name" ng-disabled="true"/>
				</div>
			 <div class="form-group col-lg-4" ng-show="showcity" >
				City:<select  class="form-control" ng-model="Address" ng-disabled=false>
				<option value={{addressLane1}} selected>{{addressLane1}}</option>
				</select>
				</div> 
				
				 <div class="form-group col-lg-4" ng-show="showcity1">
				City:<select  class="form-control" ng-model="Address">
				<option ng-repeat="value in client" value={{value.Address}}>{{value.Address}}</option>
				</select>
				</div>
				<div class="form-group col-lg-4" >
					Address:<textarea rows="3" cols="50" class="form-control"  placeholder="Enter Address" ng-model="addressLane2" ng-disabled="hide1"/>
				</div>
				</div>			
	

		</form>
		</div>	
		
		<label>Shipping Address:</label>
	
				<div class="form-group" id="displayblock">
		<form name="myForm1" novalidate>

		<div class="row">
				<div class="form-group col-lg-3">      
					Pincode:
					<input type="text" ng-model="pincode1" name="pincode1" class="form-control" placeholder="ENTER PINCODE & SEARCH" ng-change="showfun2()" ng-minlength="6" ng-maxlength="6" numbers-only required maxlength="6"/>	
					<span style="color:red;" ng-show="myForm1.pincode1.$touched && myForm1.pincode1.$error.required">*The field is required.</span>
					<span style="color:red;" ng-show="myForm1.pincode1.$error.maxlength">*Pincode too long</span>					
				</div>
				<div class="form-group col-lg-1"><br/>
					<button type="button" class="btn btn-default" style="color:	#1e90ff;" ng-disabled="myForm1.$invalid" ng-click="getDetails1()">Search </button>								
				</div>	
				<div class="form-group col-lg-4">
				Country:
				<input type="text"  class="form-control" ng-model="Country1" placeholder="Enter Country Name" ng-disabled="true" />
				</div>
				
				<div class="form-group col-lg-4">
				State:
				<input type="text"  class="form-control" ng-model="state1"	placeholder="Enter State Name" ng-disabled="true"/>
				</div>
				</div>		
			<div class="row">

				
				<div class="form-group col-lg-4">
				District:
				<input type="text" ng-model="city1" class="form-control" placeholder="Enter City Name" ng-disabled="true"/>
				</div>
				<div class="form-group col-lg-4" ng-show="showcity11" >
				City:<select  class="form-control" ng-model="Address" ng-disabled=false>
				<option value={{addressLane11}} selected>{{addressLane11}}</option>
				</select>
				</div>

			<div class="form-group col-lg-4" ng-show="showcity12">
			City:<select  class="form-control" ng-model="Address1">
			<option ng-repeat="values in client11" value={{values.Address}}>{{values.Address}}</option>
			</select>
			</div> 
			<div class="form-group col-lg-4" >
			Address:<textarea rows="3" cols="50" class="form-control"  placeholder="Enter Address" ng-model="addressLane21" />
			</div>
			</div>						
		</form>
		</div>					
			 <div class="row">	
			 <div class="col-md-8">
			 <a href="#!/getclient" type="button" class="btn btn-info pull-left">Cancel</a>
			 </div>		
			  <div class="col-md-4">
			  <button type="submit" ng-click="updateclientdata()" data-toggle="modal" data-target="#response"
						class="btn btn-info  pull-right" ng-disabled="myform.$invalid">Save</button>
			  </div>
								
					
			</div>		
		</form>
</div>

</div>
</div> -->






        <div class="modal fade" id="response" role="dialog" >
		<div class="modal-dialog" style="width:45%;height:auto;">   
		<div class="modal-content">
			
        <div class="modal-header">
		
		<h4>Edit Client</h4>
         </div>       
      
        <div class="modal-body">
		<div class="container">
		
		<p style="color:green;">{{responseMes}}</p>
	     
	    </div>
        </div>	
        <div class="modal-footer">
		<a ng-show="ok"  class="btn btn-info pull-right" data-dismiss="modal" ng-click="redirect()">OK</a>
       
        </div>
		
        </div>
        </div>
	    </div>
