
<script type="text/javascript" src="../js/bootstrap.min.js"></script>
<link rel="stylesheet" href="../css/bootstrap.min.css">
<!--Header-->
<div class="navbar  navbar-fixed-top" style="background:linear-gradient(#eae38d,#3c80bb);">
	
	<img class="navbar-brand" src="images\ojas-logo.png" style="width:150px;height:100px"  >
	<h2 class="navbar-brand pull-right">RPO</h4>
</div>
<!--footer-->
<div class="navbar  navbar-fixed-bottom" style="background:linear-gradient(#3b5c98,#3c80bb);">
<center style="color:white">&copy;2011-2016 Ojas Innovative Technologies. All rights reserved.</center>
</div>