<div ng-include="'partials/header.html'"></div>
<div ng-include="'partials/fotter.html'"></div>
<div class="content-wrapper">
    <div class="container-fluid" style="margin-top: 60px;">
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <h3>PO Details</h3>
        </li>
      </ol>
    <div class="form-group col-lg-4">
					<label for="company_name">Reqirement name</label> <input type="text"
						ng-model="companyname" placeholder="Reqirement name"
						class="form-control" ng-readonly="">

				</div>
				<div class="form-group col-lg-4">
					<label for="candidate_email">Candidate name</label> <input type="text"
						ng-model="candidateemail" placeholder="Candidate name"
						class="form-control" ng-readonly="">

				</div>
				
				<div class="form-group col-lg-4" ng-hide="dateshow">
						<label for="user_fname">PO Date</label>
						<!-- <p class="input-group">
							
							<input type="text" name="doj" placeholder="dd/MM/yy" class="form-control"  uib-datepicker-popup="{{format}}"
							is-open="popup2.opened" datepicker-options="dateOptions" alt-input-formats="altInputFormats" ng-model="idate" readonly/>
							 <span class="input-group-btn">
									<button type="button" class="btn btn-default" ng-click="open1()"><i class="glyphicon glyphicon-calendar"></i></button>
								</span>							
						</p> -->
						<p class="input-group">
							
							<input type="text" name="doj" placeholder="dd/MM/yy" class="form-control"  uib-datepicker-popup="{{format}}"
							is-open="popup1.opened" datepicker-options="dateOptions" alt-input-formats="altInputFormats" ng-model="idate" readonly/>
							 <span class="input-group-btn">
									<button type="button" class="btn btn-default" ng-click="open1()"><i class="glyphicon glyphicon-calendar"></i></button>
								</span>							
						</p>
						</div>
				
				
				
				<div class="form-group col-lg-4">
			<label for="candidate_name">PO Status</label>
			<select class="form-control" ng-model="round">
			<option value="" selected ng-disabled="true">select</option>
             <option value="partialy">Partialy Raised</option>
             <option value="completed">Completed</option>
            
     </select>
		</div>	
		<div class="form-group col-lg-4">
		<button href="#!" class="btn btn-info btn-lg pull-right" style="    margin-top: 35px;"
								ng-click="saveInterviewSchedule()">Save</button> 
								<input type="reset" class="btn btn-danger btn-lg pull-right" style="margin-top: 35px;margin-right: 12px;"></button>
		</div>
   	
	</div>

    
 </div>



